---
import '../styles/cards.css';
---

<section id="work-history-wrapper" class="section--page">
    <h2>Education</h2>

    <div class="line-break"></div>

    <div class="card--work-history">
        <strong>🎓 BACHELOR'S DEGREE | SINGIDUNUM UNIVERSITY</strong>
        <p>[2017] - [2021]</p>
    </div>
</section>
