<section class="section--page">
    <h2>Skills & Qualifications</h2>
    <ul id="qualifications--list">
        <li>✔️ 2 Years of experience in IT and Quality Assurance</li>
        <li>✔️ Hands-on experience in building automation toolchains and infrastructure</li>
        <li>✔️ Demonstrated history of working in UI, API, visual, mobile, and native app testing</li>
        <li>✔️ Extensive knowledge in Object Oriented Programming</li>
    </ul>
</section>

<style>
    #qualifications--list{
        list-style: none;
    }
</style>
