<section class="section--page">
    <h2>Tech stack</h2>

    <div id="wrapper--techstack__items">
        <div class="card--techstack"><span>Java, JavaScript, TypeScript, Ruby</span></div>
        <div class="card--techstack"><span>RestAssured, TestNG, Cucumber</span></div>
        <div class="card--techstack"><span>GraphQL, REST API</span></div>
        <div class="card--techstack"><span>Gradle, Maven</span></div>
        <div class="card--techstack"><span>Selenium WebDriver, Appium, Playwright</span></div>
        <div class="card--techstack"><span>PostgreSQL, MongoDB, MySQL</span></div>
        <div class="card--techstack"><span>GitHub Actions, Jenkins</span></div>
        <div class="card--techstack"><span>MS Azure (VMs & DNS Zones), AWS (EC2 & Route 53), Git, Docker, Apache JMeter</span></div>
    </div>
</section>

<style>
    #wrapper--techstack__items{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        font-size: 0.9em;
    }

    .card--techstack{
        border: 1px solid var(--mainBorderColor);
        border-radius: 5px;
        padding: 0.5em 1em;
        align-items: center;
    }
</style>
