---
import '../styles/cards.css';
---

<section id="work-history-wrapper" class="section--page">
    <h2>Work History</h2>

    <div class="line-break"></div>

    <div class="card--work-history">
        <strong>🚧 AUTOMATION ENGINEER | UPWORK.COM</strong>
        <p>[06/2022] - Present</p>
        <p>
            The main objective was to ensure the reliable delivery of consistently 
            high-quality releases and so experiences for Upwork customers. 
            We achieved this through the quality of each agile team and by:
        </p>
        <ul>
            <li>Improving, optimizing, and supporting the testing framework (JET)</li>
            <li>Performing R&D for better services, tools, and scalability</li>
            <li>Stabilizing, maintaining, and monitoring the engineering environment and the QA infrastructure</li>
        </ul>
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
        <strong>🚧 QA AUTOMATION ENGINEER | ANANAS E-COMMERCE</strong>
        <p>[05/2021] - [06/2022]</p>
        <p>
            Worked on Ananas' QA automated testing tools, frameworks and services design, development, and support. 
            Conducted performance, load, and stress testing as part of regression testing using Apache JMeter. 
            Optimizing and enhancing the Ananas testing framework built by our team:
        </p>
        <ul>
            <li>Built on top of Java, Selenium WebDriver, TestNG, and Cucumber</li>
            <li>Being effectively used for frontend, backend, API, visual and mobile testing</li>
            <li>Used both Jenkins and GitHub Actions as CI environment</li>
        </ul>
    </div>
</section>
